/* Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --background-color: #f8f9ff;
  --section-colors: #ffff;
  --headlines-color: #00236f;
  --low-text-color: #757682;
  --lower-text-color: #757682;
  --money-color: #006e2f;
  --earning-background: #eff4ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "Inter";
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.0313rem solid #cbdbf5;
  padding: 1.5rem 0.75rem;
  margin-bottom: 2rem;
  color: var(--headlines-color);
  font-weight: 900;
  font-size: 1.5rem;
}

header span {
  color: var(--money-color);
}

.hide-menu {
  display: none !important;
}

button:hover {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.75rem;
  gap: 5rem;
}

.section {
  background-color: var(--section-colors);
  border: 0.0625rem solid #c5c5d3;
  border-radius: 0.5rem;
  padding: 1.5rem 0.75rem;
  width: 100%;
}

.inputHeadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  color: var(--headlines-color);
}

h2 {
  font-size: 1.25rem;
}

.calculator-icon {
  font-size: 1.5rem;
}

.unit-div,
.amount-div {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 0.25rem;
  margin-bottom: 0.75rem;
  /* color: var(--low-text-color); */
}

#unit-input,
#amount-input {
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--lower-text-color);
}

.earningDiv {
  margin: 1.5rem 0;
  padding: 1.25rem 2rem;
  background-color: #eff4ff;
  border-radius: 0.5rem;
}

.earningtext {
  font-size: 0.75rem;
  color: var(--headlines-color);
  font-weight: 600;
}

.totalDayEarning {
  font-size: 2rem;
  color: #006e2f;
  font-weight: 900;
}

.saveResetBtn-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.625rem;
}

.saveAmountButton {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0.0625rem solid var(--lower-text-color);
  border-radius: 0.5rem;
  background-color: var(--headlines-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.resetBtn {
  width: 100%;
  padding: 0.5rem 1rem;
  background: none;
  border: 0.0625rem solid var(--lower-text-color);
  border-radius: 0.5rem;
}

/* CURRENT SESSION SECTION */

.currentSession {
  background-color: #fff;
  border: 0.0625rem solid var(--lower-text-color);
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
}

.currentSessionHeadline {
  text-align: left;
  padding: 0.5rem 0.75rem;
  background-color: var(--headlines-color);
  font-size: 0.75rem;
  color: #fff;
}

.currentSessionBody {
  padding: 1rem 0.75rem;
}

.sessionDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid black;
}

.date,
.unit {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  color: var(--low-text-color);
}

.todayDate,
.totalunits {
  font-size: 1rem;
}

.saveRecord-div {
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.numAmount {
  font-size: 1.5rem;
  color: var(--money-color);
  font-weight: 700;
}

.saveRecordBtn {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--money-color);
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 600;
}

/* MONTHLY SECTION */

.monthly {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalMonthlyAmount {
  font-size: 1.5rem;
  color: var(--headlines-color);
}

.calender-icon {
  font-size: 1.5rem;
  background-color: var(--lower-text-color);
  color: var(--headlines-color);
  padding: 0.75rem;
  border-radius: 100%;
}

/* HOW IT WORKS SECTION */

.howitworks-Header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  /* text-align: center;
  justify-content: center; */
}

.alert-icon {
  font-size: 1rem;
  background-color: var(--headlines-color);
  color: #fff;
  padding: 0.25rem;
  border-radius: 100%;
}

.howitworks-Header h2 {
  color: var(--headlines-color);
}

ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 1rem;
}

li div {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 0.5rem;
}

.num-icon {
  padding: 0.1875rem 0.5rem;
  background-color: var(--headlines-color);
  border-radius: 100%;
  color: #fff;
}

.protocol {
  font-weight: 900;
}

/* HISTORY SECTION */
.history {
  padding: 1.5rem 0 0 0 !important;
}

.historyHeadline p {
  font-size: 1.25rem;
  text-align: start;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  color: var(--headlines-color);
  font-weight: 800;
}

.historyTable {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.historyTableHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lower-text-color);
  padding: 0.5rem 0.75rem;
  gap: 1.5rem;
}

.historyTableHead p {
  font-size: 0.875rem;
}

.historyTableBody:not(:last-child) {
  border-bottom: 0.0625rem solid var(--lower-text-color);
}
.historyTableBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0.75rem;
  gap: 0.625rem;
}

/* SHOW DEVELOPER TAB+ */

.hidden {
  display: none !important;
}

.whatsappMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 1rem;
  z-index: 101;
  gap: 1.5rem;
  width: 90%;
  max-width: 25rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.2);
  padding: 2rem 1.125rem 0 1.125rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0.25rem);
  z-index: 100;
}

.whatsappMessage-Header {
  margin-bottom: 2rem;
  text-align: center;
}

.whatsApp-icon {
  font-size: 1.5rem;
  padding: 0.75rem;
  color: var(--money-color);
  background-color: #00863a63;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.whatsappMessage-Header h2 {
  margin-bottom: 0.5rem;
}

.whatsappMessage-Header p {
  font-size: 0.875rem;
}

.saveDiv {
  margin-bottom: 1.5rem;
}

.whatsApp-num {
  font-size: 0.875rem;
}

#number {
  padding: 0.75rem 0.75rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid black;
  width: 100%;
  margin: 0.25rem 0;
}

.errMessage {
  font-size: 0.75rem;
  display: flex;
  color: var(--low-text-color);
}

.whatsappBtns {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 2rem;
}

.saveWhatsappNumButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--headlines-color);
  color: #fff;
  border: none;
}

.closeBtn {
  padding: 0.75rem;
  border: 0.0625rem solid var(--lower-text-color);
  border-radius: 0.5rem;
  background: none;
}

.end2end {
  font-size: 0.75rem;
  text-align: center;
  padding: 0.75rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

/* CONTACT DEVELOPER */

a:link,
a:visited {
  text-align: center;
  color: var(--headlines-color);
}

/* Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@media (min-width: 46.875em) {
  main {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 115.625em) {
  html {
    font-size: 1.25rem;
  }

  /* main {
    width: 50%;
    margin: 0 auto;
  } */
}
