* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8fafc;
  font-family: "Roboto Condensed";
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  padding: 12px;
}

h1 {
  font-size: 32px;
  color: #1e293b;
  font-weight: 900;
  margin-bottom: 40px;
}

.dateDiv,
.saveDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.todayDate {
  font-size: 22px;
  color: #1e293b;
}

.input {
  padding: 6px 12px;
}

button {
  background-color: #2563eb;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: #f8fafc;
}

.totalMessage {
  color: #059669;
  font-size: 22px;
}


.resetBtn {
  background-color: #ef4444;
  margin-top: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.resetBtn:hover {
  background-color: #dc2626;
}

.comtactDev{
  margin-top : 200px;
}

a:link, a:visited{
  text-align:center;
  color: black; 
  
}

/* SHOW DEVELOPER TAB+ */
.hidden,
.hidden {
  display: none !important;
}

.whatsappMessage {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 1rem;
  z-index: 101;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  text-align: center;
  background-color: #f8fafc;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 32px 12px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: 100;
}

.closeBtn {
  position: fixed;
  top: 10px;
  left: 90%;
  font-size: 25px;
}

h2 {
  color: red;
}

.errMessage {
  font-size: smaller;
  color: red;
}

.note {
  color: brown;
}
